{% extends 'layout/base.html' %}
{% block title %}Our Work{% endblock %}
{% block content %}
    
    <section class="home-slider  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url({{ url_for('static',filename='img/slider-1.jpg') }});">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1>Our Works in 25 Years</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
              <!-- <p><a href="#" class="btn btn-primary">Download Now!</a></p> -->
            </div>
          </div>
        </div>

      </div>


    </section>
    <!-- END slider -->
    
    <section class="section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>Wood Polishing</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_1.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>General Construction Building</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_2.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>House Renovation</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_3.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>

          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>Wood Polishing</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_1.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>General Construction Building</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_2.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <h3>House Renovation</h3>
              <span class="ion-plus icon"></span>
              <img src="{{ url_for ('static',filename='img/work_thumb_3.jpg') }}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>

        </div>
      </div>
    </section>
    
  
{% include 'includes/testomonial.html' %}
{% endblock %}