{% extends 'layout/base.html' %}
{% block title %}Our Work{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/mycss/modals.css') }}">
<style media="screen">
  .view-more-btn{
    text-align: center;
    padding-top: 20px;
  }
</style>
{% endblock %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="/services/" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
  <div class="dropdown-menu" aria-labelledby="dropdown04">
    <a class="dropdown-item" href="/services/">Carpentry</a>
    <a class="dropdown-item" href="/services/">Flooring</a>
    <a class="dropdown-item" href="/services/">Painting</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/our-works/">Works</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/aboutus/">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact/">Contact</a>
</li>
{% endblock %}
{% block content %}
<section class="home-slider  inner-page owl-carousel">
  <div class="slider-item" style="background-image: url({{ url_for('static',filename='img/slider-1.jpg') }});">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-md-7 col-sm-12 element-animate">
          <h1>Our recent works</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END slider -->

<section class="section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 element-animate">
        <a onclick="showModal('image1');" id="myImg" class="link-thumbnail">
          <h3>Vinyl Flooring</h3>
          <span class="ion-plus icon"></span>
          <img id="image1" src="{{ url_for ('static',filename='img/floor/floor1.jpg') }}" alt="Vinyl Flooring" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a onclick="showModal('image2');" class="link-thumbnail">
          <h3>Carpet Flooring</h3>
          <span class="ion-plus icon"></span>
          <img id="image2" src="{{ url_for ('static',filename='img/floor/floor2.jpg') }}" alt="Carpet Flooring" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a onclick="showModal('image3');" class="link-thumbnail">
          <h3>Stone flooring</h3>
          <span class="ion-plus icon"></span>
          <img id="image3" src="{{ url_for ('static',filename='img/floor/floor3.jpg') }}" alt="Stone flooring" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 element-animate">
        <a onclick="showModal('image4');" class="link-thumbnail">
          <h3>Interior Painting</h3>
          <span class="ion-plus icon"></span>
          <img id="image4" src="{{ url_for ('static',filename='img/painting/paint1.jpg') }}" alt="Interior Painting" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a onclick="showModal('image5');" class="link-thumbnail">
          <h3>Exterior Painting</h3>
          <span class="ion-plus icon"></span>
          <img id="image5" src="{{ url_for ('static',filename='img/painting/paint2.jpg') }}" alt="Exterior Painting" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a onclick="showModal('image6');" class="link-thumbnail">
          <h3>Exterior Painting</h3>
          <span class="ion-plus icon"></span>
          <img id="image6" src="{{ url_for ('static',filename='img/painting/paint3.jpg') }}" alt="Exterior Painting" class="img-fluid">
        </a>
      </div>
  </div>
  </div>
    <p class="view-more-btn"><a href="/more-work/" class="btn btn-primary">View more</a></p>
</section>

<div id="myModal" class="modal">
  <span class="close">×</span>
  <img alt="" class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="container">
  <div class="row justify-content-center mb-5 element-animate">
    <div class="col-md-8 text-center mb-5">
      <h2 class="text-uppercase heading border-bottom mb-4">Our Reviews</h2>
      <p class="mb-0 lead">{Will contain google reviews widget}</p>
    </div>
  </div>
</div>

<script src="{{ url_for('static',filename='js/myjs/modals.js') }}" type="text/javascript"></script>

{% endblock %}
