<div class="row no-gutters" id="carp-section">
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image7');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image7" src="{{ url_for ('static',filename='img/carpentry/carp1.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image8');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image8" src="{{ url_for ('static',filename='img/carpentry/carp2.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image9');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image9" src="{{ url_for ('static',filename='img/carpentry/carp3.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
</div>
