<div class="row no-gutters" id="carp-section">
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image7');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image7" src="{{ url_for ('static',filename='img/carpentry/carp1.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image8');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image8" src="{{ url_for ('static',filename='img/carpentry/carp2.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image9');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image9" src="{{ url_for ('static',filename='img/carpentry/carp3.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image23');" class="link-thumbnail">
      <h3>Exterior carpentry</h3>
      <span class="ion-plus icon"></span>
      <img id="image23" src="{{ url_for ('static',filename='img/carpentry/carp4.jpeg') }}" alt="Exterior carpentry" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image24');" class="link-thumbnail">
      <h3>Exterior carpentry</h3>
      <span class="ion-plus icon"></span>
      <img id="image24" src="{{ url_for ('static',filename='img/carpentry/carp5.jpeg') }}" alt="Exterior carpentry" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image25');" class="link-thumbnail">
      <h3>Remodeling</h3>
      <span class="ion-plus icon"></span>
      <img id="image25" src="{{ url_for ('static',filename='img/carpentry/carp6.jpeg') }}" alt="Remodeling" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image26');" class="link-thumbnail">
      <h3>Remodeling</h3>
      <span class="ion-plus icon"></span>
      <img id="image26" src="{{ url_for ('static',filename='img/carpentry/carp7.jpeg') }}" alt="Remodeling" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image27');" class="link-thumbnail">
      <h3>Remodeling</h3>
      <span class="ion-plus icon"></span>
      <img id="image27" src="{{ url_for ('static',filename='img/carpentry/carp8.jpeg') }}" alt="Remodeling" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image28');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image28" src="{{ url_for ('static',filename='img/carpentry/carp9.jpeg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image29');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image29" src="{{ url_for ('static',filename='img/carpentry/carp10.jpeg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image30');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image30" src="{{ url_for ('static',filename='img/carpentry/carp11.jpeg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image31');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image31" src="{{ url_for ('static',filename='img/carpentry/carp12.jpeg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image32');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image32" src="{{ url_for ('static',filename='img/carpentry/carp13.jpeg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
</div>
