<div id="painting-section" class="row no-gutters">
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image4');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image4" src="{{ url_for ('static',filename='img/painting/paint1.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image5');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image5" src="{{ url_for ('static',filename='img/painting/paint2.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image6');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image6" src="{{ url_for ('static',filename='img/painting/paint3.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image10');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image10" src="{{ url_for ('static',filename='img/painting/paint4.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
</div>
