<div class="row no-gutters" id="all-section">
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image1');" id="myImg" class="link-thumbnail">
      <h3>Vinyl Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image1" src="{{ url_for ('static',filename='img/floor/floor1.jpg') }}" alt="Vinyl Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image2');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image2" src="{{ url_for ('static',filename='img/floor/floor2.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image3');" class="link-thumbnail">
      <h3>Stone flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image3" src="{{ url_for ('static',filename='img/floor/floor3.jpg') }}" alt="Stone flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image11');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image11" src="{{ url_for ('static',filename='img/floor/floor4.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image12');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image12" src="{{ url_for ('static',filename='img/floor/floor5.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image13');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image13" src="{{ url_for ('static',filename='img/floor/floor6.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image14');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image14" src="{{ url_for ('static',filename='img/floor/floor7.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image15');" class="link-thumbnail">
      <h3>Stone flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image15" src="{{ url_for ('static',filename='img/floor/floor8.jpg') }}" alt="Stone flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image16');" class="link-thumbnail">
      <h3>Carpet Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image16" src="{{ url_for ('static',filename='img/floor/floor9.jpg') }}" alt="Carpet Flooring" class="img-fluid">
    </a>
  </div>

  <!-- painting -->
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image4');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image4" src="{{ url_for ('static',filename='img/painting/paint1.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image5');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image5" src="{{ url_for ('static',filename='img/painting/paint2.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image6');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image6" src="{{ url_for ('static',filename='img/painting/paint3.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image10');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image10" src="{{ url_for ('static',filename='img/painting/paint4.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
<!-- capentry -->
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image7');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image7" src="{{ url_for ('static',filename='img/carpentry/carp1.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image8');" class="link-thumbnail">
      <h3>Carpentry framing</h3>
      <span class="ion-plus icon"></span>
      <img id="image8" src="{{ url_for ('static',filename='img/carpentry/carp2.jpg') }}" alt="Carpentry framing" class="img-fluid">
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3   element-animate">
    <a onclick="showModal('image9');" class="link-thumbnail">
      <h3>Carpentry framin</h3>
      <span class="ion-plus icon"></span>
      <img id="image9" src="{{ url_for ('static',filename='img/carpentry/carp3.jpg') }}" alt="Carpentry framin" class="img-fluid">
    </a>
  </div>
</div>
