<div id="painting-section" class="row no-gutters">
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image4');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image4" src="{{ url_for ('static',filename='img/paint1.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image5');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image5" src="{{ url_for ('static',filename='img/paint2.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image6');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image6" src="{{ url_for ('static',filename='img/paint3.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image1');" id="myImg" class="link-thumbnail">
      <h3>Vinyl Flooring</h3>
      <span class="ion-plus icon"></span>
      <img id="image1" src="{{ url_for ('static',filename='img/floor1.jpg') }}" alt="Vinyl Flooring" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image4');" class="link-thumbnail">
      <h3>Interior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image4" src="{{ url_for ('static',filename='img/paint1.jpg') }}" alt="Interior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image5');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image5" src="{{ url_for ('static',filename='img/paint2.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
  <div class="col-md-4 element-animate">
    <a onclick="showModal('image6');" class="link-thumbnail">
      <h3>Exterior Painting</h3>
      <span class="ion-plus icon"></span>
      <img id="image6" src="{{ url_for ('static',filename='img/paint3.jpg') }}" alt="Exterior Painting" class="img-fluid">
    </a>
  </div>
</div>
